body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background: #f2f2f2;
}

/* HERO */
.hero {
height: 90vh;
background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;
}

.hero-text h1 {
font-size: 70px;
letter-spacing: 6px;
}

.hero-text p {
font-size: 26px;
margin: 10px 0;
}

.hero-text span {
font-size: 18px;
color: orange;
}

/* MENU */
.menu {
padding: 60px 40px;
text-align: center;
}

.menu h2 {
font-size: 36px;
margin-bottom: 40px;
}

.menu-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 25px;
}

.card {
background: white;
border-radius: 15px;
overflow: hidden;
box-shadow: 0 10px 25px rgba(0,0,0,.2);
transition: .3s;
}

.card:hover {
transform: scale(1.05);
}

.card img {
width: 100%;
height: 180px;
object-fit: cover;
}

.card h3 {
padding: 15px;
}

/* FEEDBACK */
.feedback {
background: #111;
color: white;
padding: 60px 20px;
text-align: center;
}

.feedback input, .feedback textarea {
width: 80%;
padding: 12px;
margin: 10px;
border-radius: 8px;
border: none;
}

.feedback button {
padding: 12px 25px;
background: orange;
border: none;
font-weight: bold;
border-radius: 8px;
}

/* CONTACT */
.contact {
padding: 50px;
text-align: center;
background: #fff;
}

.contact h2 {
font-size: 30px;
}

/* FOOTER */
footer {
background: black;
color: white;
padding: 15px;
text-align: center;
}
